# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Credentials and secrets
*.json
!package*.json
!tsconfig*.json
serviceAccountKey.json
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Ignorar archivos de configuración y secretos
leadboost-ai-1966c-4819e22dad6b.json
backend\serviceAccountKey.json
microservice_analyst\serviceAccountKey.json

# Ignorar archivos md
*.md

# Ignorar modelos y archivos binarios
*.pkl
*.bin
/model_store

